<div class="row mt-4">
    @if(type().damage_relations.double_damage_from.length) {
    <div class="mb-3 col-12 col-xl-3 col-lg-4 col-sm-6 col-xs-12">
        <div class="card h-100">
            <div class="card-header">
                <h5>takes double damage from</h5>
            </div>
            <div class="card-body">
                @for(double_damage_from_item of type().damage_relations.double_damage_from; track
                double_damage_from_item.name) {
                <p>{{double_damage_from_item.name}}</p>
                }
            </div>
        </div>
    </div>
    }
    @if(type().damage_relations.double_damage_to.length) {
    <div class="mb-3 col-12 col-xl-3 col-lg-4 col-sm-6 col-xs-12">
        <div class="card h-100">
            <div class="card-header">
                <h5>does double damage to</h5>
            </div>
            <div class="card-body">
                @for(double_damage_to_item of type().damage_relations.double_damage_to; track
                double_damage_to_item.name){
                <p>{{ double_damage_to_item.name }}</p>
                }
            </div>
        </div>
    </div>
    }
    @if(type().damage_relations.half_damage_from.length) {
    <div class="mb-3 col-12 col-xl-3 col-lg-4 col-sm-6 col-xs-12">
        <div class="card h-100">
            <div class="card-header">
                <h5>takes half damage from</h5>
            </div>
            <div class="card-body">
                @for(half_damage_from_item of type().damage_relations.half_damage_from; track
                half_damage_from_item.name){
                <p>{{ half_damage_from_item.name }}</p>
                }
            </div>
        </div>
    </div>
    }
    @if(type().damage_relations.half_damage_to.length) {
    <div class="mb-3 col-12 col-xl-3 col-lg-4 col-sm-6 col-xs-12">
        <div class="card h-100">
            <div class="card-header">
                <h5>does half damage to</h5>
            </div>
            <div class="card-body">
                @for(half_damage_to_item of type().damage_relations.half_damage_to; track
                half_damage_to_item.name){
                <p>{{ half_damage_to_item.name }}</p>
                }
            </div>
        </div>
    </div>
    }
    @if(type().damage_relations.no_damage_from.length) {
    <div class="mb-3 col-12 col-xl-3 col-lg-4 col-sm-6 col-xs-12">
        <div class="card h-100">
            <div class="card-header">
                <h5>no damage from</h5>
            </div>
            <div class="card-body">
                @for(no_damage_from_item of type().damage_relations.no_damage_from; track
                no_damage_from_item.name){
                <p>{{ no_damage_from_item.name }}</p>
                }
            </div>
        </div>
    </div>
    }
    @if(type().damage_relations.no_damage_to.length){
    <div class="mb-3 col-12 col-xl-3 col-lg-4 col-sm-6 col-xs-12">
        <div class="card h-100">
            <div class="card-header">
                <h5>no damage to</h5>
            </div>
            <div class="card-body">
                @for(no_damage_to_item of type().damage_relations.no_damage_to; track
                no_damage_to_item.name){
                <p>{{ no_damage_to_item.name }}</p>
                }
            </div>
        </div>
    </div>
    }
</div>
@if(type().pokemon){
    <div class="row mt-2">
        @for(type_pokemon of type().pokemon; track type_pokemon.pokemon.name){
            <app-pokemon-link-card class="mb-2 col-12 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 text-center" [pokemon]="type_pokemon.pokemon"></app-pokemon-link-card>
        }
    </div>
}