<div class="row">
    <div class="col-12 h-200p">
        <div class="center-on-page">
            <div class="pokeball">
              <a class="pokeball__button" [routerLink]="['/pokemons']"></a>
            </div>
          </div>
    </div>
</div>