<div class="card h-100">
    <div class="card-header">
        <a title="pokemon.name" [routerLink]="['/pokemons', pokemon.name]">{{ pokemon.name }}</a>
    </div>
    <div class="card-body">
        <a [title]="pokemon.name" [routerLink]="['/pokemons', pokemon.name]">
            <img class="img-fluid pok"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.url.split('/')[6]}}.png"
                alt="pokemon.name" />
        </a>
        <p class="d-flex justify-content-center">#{{ pokemon.url.split('/')[6] }}</p>
    </div>
</div>