<div class="row mt-5">
    @for(type of apiTypes().results; track type.name; let i = $index){
        <div class="col-6 col-lg-2 col-md-3 col-sm-4 col-xs-4 text-center"
            >
            <div class="card mb-2">
                <div class="card-header">
                    <a [title]="type.name" [routerLink]="['/types',type.name]">{{ type.name }}</a>
                </div>
                <div class="card-body">
                    <a [title]="type.name" [routerLink]="['/types',type.name]">
                        <img class="img-fluid pok" src="/assets/types/{{type.name}}.png" alt="{{type.name}}" />
                    </a>
                </div>
            </div>
        </div>
    }
</div>