@if(pokemon()) {
<div id="pokedex" class="{{isClosed ? 'closed': ''}}">
  <div id="left">
    <div id="logo" (click)="toggleOpenClosed()"></div>
    <div id="bg_curve1_left"></div>
    <div id="bg_curve2_left"></div>
    <div id="curve1_left">
      <div id="buttonGlass">
        <div id="reflect"> </div>
      </div>
      <div id="miniButtonGlass1"></div>
      <div id="miniButtonGlass2"></div>
      <div id="miniButtonGlass3"></div>
    </div>
    <div id="curve2_left">
      <div id="junction">
        <div id="junction1"></div>
        <div id="junction2"></div>
      </div>
    </div>
    <div id="screen">
      <div id="topPicture">
        <div id="buttontopPicture1"></div>
        <div id="buttontopPicture2"></div>
      </div>
      <div id="picture">
        <img src="{{sprite}}" alt="{{pokemon().name}}" height="170">
      </div>
      <div id="buttonbottomPicture" (click)="toggleOpenClosed()"></div>
      <div id="speakers">
        <div class="sp"></div>
        <div class="sp"></div>
        <div class="sp"></div>
        <div class="sp"></div>
      </div>
    </div>
    <a [routerLink]="['/pokemons']">
      <div id="bigbluebutton"></div>
    </a>
    <div id="barbutton1" (click)="toggleShiny()"></div>
    <div id="barbutton2" (click)="togglePosition()"></div>
    <div id="cross">
      <div id="leftcross">
        <a [routerLink]="['/pokemons', previousPokemon]" (click)="navigateToPokemon(previousPokemon)">
          <i id="leftT"></i>
        </a>
      </div>
      <div id="topcross">
        <div id="upT"></div>
      </div>
      <div id="rightcross">
        <a [routerLink]="['/pokemons', nextPokemon]" (click)="navigateToPokemon(nextPokemon)">
          <i id="rightT"></i>
        </a>
      </div>
      <div id="midcross">
        <div id="midCircle"></div>
      </div>
      <div id="botcross">
        <div id="downT"></div>
      </div>
    </div>
  </div>
  <div id="right">
    <div id="stats">
      <strong>Name:</strong> {{pokemon().name | titlecase}}<br />
      <strong>Type:</strong>
      @for(type of pokemon().types; track type.type.name) {
      <span>
        <!-- make css class for each type -->
        <a style="padding-left: 2px;text-decoration: none; color: black;"
          [routerLink]="['/types', type.type.name]">{{type.type.name | titlecase}}</a></span>
      }
      <br />
      <strong>Height:</strong> <span> {{pokemon().height}}</span><br />
      <strong>Weight:</strong><span> {{pokemon().weight}} lbs</span><br /><br />
      <strong></strong><br />

    </div>
    <div id="blueButtons1">
      <div class="blueButton"></div>
      <div class="blueButton"></div>
      <div class="blueButton"></div>
      <div class="blueButton"></div>
      <div class="blueButton"></div>
    </div>
    <div id="blueButtons2">
      <div class="blueButton"></div>
      <div class="blueButton"></div>
      <div class="blueButton"></div>
      <div class="blueButton"></div>
      <div class="blueButton"></div>
    </div>
    <div id="miniButtonGlass4"></div>
    <div id="miniButtonGlass5"></div>
    <div id="barbutton3"></div>
    <div id="barbutton4"></div>
    <div id="yellowBox1">
      <p style="margin-top:25px;font-weight:bold">#{{pokemon().id}}</p>
    </div>
    @if(!isShiny){
    <div id="yellowBox2">
      <p style="margin-top:25px;font-weight:bold">Normal</p>
    </div>
    }
    @else {
    <div id="yellowBox2">
      <p style="margin-top:25px;font-weight:bold">Shiny</p>
    </div>
    }
    <div id="bg_curve1_right"></div>
    <div id="bg_curve2_right"></div>
    <div id="curve1_right"></div>
    <div id="curve2_right"></div>
  </div>
</div>
}