<nav class="mt-2" aria-label="page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a [className]="currentPage === 1 ? 'disabled page-link' : 'page-link'" [routerLink]="['/pokemons']"
                (click)="changePage()" [queryParams]="{s: pageSize, p: currentPage - 1 > 0 ? currentPage - 1 : 1}">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        @for (page of pageArray(); track page) {
        <ng-container>
            @if(currentPage + 2 >= page && page >= currentPage - 2) {
            <li class="page-item">
                <a [className]="page === currentPage ? 'active page-link' : 'page-link'" [routerLink]="['/pokemons']"
                    (click)="changePage()" [queryParams]="{s: pageSize, p: page}">{{page}}
                </a>
            </li>
            }
        </ng-container>
        }
        <li class="page-item">
            <a [className]="currentPage === pageArray().length ? 'disabled page-link' : 'page-link'"
                [routerLink]="['/pokemons']"
                [queryParams]="{s: pageSize, p: currentPage + 1 > pageArray().length ? currentPage: currentPage + 1}"
                (click)="changePage()">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
<div class="row">
    @if(apiPokemons().results) {
        @for (pokemon of (apiPokemons().results); track pokemon.name) {
        <app-pokemon-link-card class="col-12 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 text-center" [pokemon]="pokemon"></app-pokemon-link-card>
        }
    }
    @else {
    <div class="card">
        <div class="card-body">
            <p class="mb-0">
                Loading...
            </p>
        </div>
    </div>
    }
</div>