@use 'bootstrap';

/* You can add global styles to this file, and also import other style files */
body {
  background-color: #00009f;
}

.pokemon-name {
  color: white;
}

.page-link {
  color: #00009f;
}

.page-link.active {
  background: #00009f;
  color: white;
}